* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:visited,
  &:hover,
  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
