// @import "../../../../Styles/Reset.scss";

.comment_list{
  display: flex;
  flex-direction: row;

  .comment_name{
    color: black;
    font-weight:bolder;
    margin-right: 5px;
  }
}
    
      


