
$light-gray: #A2A2A2;

.nav {
    width: 100vw;
    height: 54px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid  $light-gray;
    background-color: white;
    position: fixed;
    z-index: 10;

    .top {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo_box {
            height: 54px;
            /* border: 1px solid yellow; */
            display: flex;
            align-items: center;

            .insta_logo {
                width: 22px;
                height: 22px;
                margin-right: 10px;

            }

            .insta_txt {
                margin-left: 10px;
            }
        }

        .search {
            width: 215px;
            height: 54px;
            /* border: 1px solid pink; */
            display: flex;
            justify-content: center;
            align-items: center;

            .search_box {
                width: 215px;
                height: 28px;
                border: 1px solid $light-gray;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;

                .fa-search,
                .search_txt {
                    color: $light-gray;

                    &::placeholder {
                        text-align: center;
                    }
                }
            }
        }
        .right_box {
            height: 54px;
            width: 222px;
            /* border: 1px solid blue; */
            display: flex;
            justify-content: space-around;
            align-items: center;

            .icons {
                width: 22px;
                height: 22px;
            }
        }
    }
}
