$mainborderColor: #c9c9c9;

.nav {
  .navWrapper {
    display: flex;
    justify-content: center;
    border: 1px solid $mainborderColor;
    height: 54px;

    .navContentWrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 20px;
      max-width: 975px;

      .logoBox {
        display: flex;
        align-items: center;
        width: 360px;
      }

      .navInputWrapper {
        display: flex;
        align-items: center;
        width: 215px;
        min-width: 125px;
      }

      .navIconWrapper {
        display: flex;
        align-items: center;
        width: 360px;

        .iconFlexBox {
          height: 22px;
          width: 100%;

          .iconControlBox {
            display: flex;
            justify-content: flex-end;
            height: 100%;

            * {
              margin-left: 22px;
            }
            .profileImg{
                border-radius: 70px;
            }

          }
        }
      }
    }
  }
}
