@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.login_body {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 1px;
    padding: 10px 0;
    width: 350px;
    height: 366px;
  }
}

.login_titleName {
  font-family: "Lobster", cursive;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.login_input {
  display: flex;
  flex-direction: column;

  #email_password,
  #login_password {
    width: 254px;
    height: 33px;
    margin-top: 5px;
    border: 1px solid #dbdbdb;
    color: #9e9e9e;
  }
}

#login_btn {
  width: 262px;
  margin-top: 10px;
  height: 35px;
  font-size: 15px;
  border: 0;
  outline: 0;
}

.changeButtonColor {
  background-color: #244f7c;
}
.normalButtonColor {
  background-color: #b2dffc;
}

.rePassword_btn {
  color: #244f7c;
  display: flex;
  margin-top: auto;

  h3 {
    font-size: 14px;
  }
}
