.feedFooterBox {
  .likeBox {
    height: 18px;
    margin-bottom: 8px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
  }

  .inputCommentBox {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    border-top : 0.5px solid #c9c9c9;
    .inputCommentForm {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100%;

      .smileButton {
        padding: 8px 16px 8px 0;
        height: 40px;
        width: 40px;
        background-color: white;
      }

      .inputComment {
        height: 100%;
        width: 100%;
        padding: 0 5px;
      }
      
      .submitButtonFalse {
        height: 40px;
        width: 40px;
        background-color: white;
        color: #b2dffc;
        font-size: 14px;
        font-weight: 600;
      }

      .submitButtonTrue{
        height: 40px;
        width: 40px;
        background-color: white;
        color: #0095f6;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
