$light-gray: #A2A2A2;
  
  .Main_container {

    .main {
      /* border:1px solid gray; */
      height: 100vh;
      margin-left: 280px;
      margin-right: 280px;
      padding-top: 54px;
      position: relative;

      .feeds {
        width: 615px;
        // height: 850px;
        border: 1px solid $light-gray;
        float: left;
        margin-right: 28px;

        .article {
          border: 1px solid $light-gray;

          .feed_top {
            border: 1px solid $light-gray;
            height: 20px;
            padding: 16px;
            display: flex;
            align-items: center;

            .feed_profile_img {
              width: 32px;
              height: 32px;
              border-radius: 70%;
              overflow: hidden;
            }
            .feed_profile_name {
              font-size: small;
              font-weight: bolder;
              padding-left: 14px;
            } 
          }

          .feed_img_box{

            .feed_img {
              width: 614px;
              height: 614px;
            }
          }
        }

        .left_box{
          display: flex;
          justify-content: space-between;
          .btn_left{
            
            .like{

              .icons{
                width: 30px;
                height: 30px;
                padding: 8px;
                background-color: white;
              }
            }

            .comment_add{
              .icons{
                width: 30px;
                height: 30px;
                padding: 8px;
                background-color: white;
              }
            }
            
            .share{
              .icons{
                width: 30px;
                height: 30px;
                padding: 8px;
                background-color: white;
              }
            }
          }
          .bookmark{
            width: 35px;
            height: 35px;
            padding: 8px;
            background-color: white;
          }
        }

        .like_people{

          .like_text{

          }
        }
        }
      .main_right {
        border: 1px solid gray;
        max-width: 293px;
        width: 665px;
        // position: fixed;
        margin-left: 665px;
        padding-left: 28px;
      }
    }  
  }
