.footerIconBox{
    display: flex;
    justify-content: space-between;
    height: 40px;
    .footerLeft, .footerRight{
        display: flex;
        align-items: center;
        *{
            color: black;
            height: 24px;
            width: 24px;
            margin: 10px;
        }
    }
}